@import "tailwindcss";

@theme {
  --logo-opacity: 0.35;
}

body {
  background: black;
  color: white;
}

.subtle-bg-logo {
  opacity: var(--logo-opacity);
  pointer-events: none;
  z-index: 0;
  filter: grayscale(100%) brightness(0.5);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.reverse {
  animation-direction: reverse;
}
